
### AL ###
#Template for AL projects for Dynamics 365 Business Central There is no changes of this folders and development of the file 
launch.json folder vscode cache symbols alpackages and teating the snapshots 
#launch.json folder
.vscode/
#Cache folder
.alcache/what are the issue you guys are made with the site 
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.is there any issue with the snapshots dynamics central develoment and result and alpackages and what issue 
and is there any issue at web find and cleared the is
sue with type 
#Test results file
TestResults.xml issue dynamics central develoment multi task and there is no issue with the web site what issue was found at there and what are thinks are Base-file 
test result file issue central multi task and alpackages of the base file rapid Extension of site develoment file 
which was made on the site which was central multi task and alpackages base files rapido extension of site development file multi task and test results 